# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.wheel

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# PyInstaller
*.spec

# Jupyter Notebook
*.ipynb_checkpoints

# VS Code settings
.vscode/

# Test results
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.pyc

# Logs
*.log

# Local settings
*.local

# dotenv
.env
.env.local


# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# Other
.DS_Store
Thumbs.db
# ChromaDB
chroma_db/
chroma.sqlite3

generate.py
rag/data/
memra-api/data/
